@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap');

*{
    box-sizing: border-box;
}

body, html{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.container{
    display: grid;
    grid-template: "menu" 100px
                    "conteudo"
                    "rodape" 150px / 1fr;
    min-height: 100%;
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.w-50{
    text-align: center;
    float: left;
    width: calc(100% / 2);
    margin-bottom: 4.5rem;
}
h1{
    color: #fff;
}
#titulo{
    width: 60%;
    margin: auto;
    padding: 1.5rem;
    border-bottom: 1px solid #CDA4FC;
}
div #titulo-not{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    border-bottom: 1px solid #CDA4FC;
}
.w-50 p{
    width: 70%;
    margin: auto;
    padding: 2rem;
    text-align: justify;
    color: #fff;
}
#button{
    text-decoration: none;
    color: #fff;
    background-color: #9142EA;
    padding: 1rem;
    border-radius: 5px;
}
#detail{
    width: 75%;
    border-bottom: 1px solid #CDA4FC;
}
.menu{
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17042C;
}
.menu a{
    text-decoration: none;
    color: #fff;
    margin: 0 2rem;
    padding: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
}
.menu a:hover{
    background-color: #CDA4FC;
    color: #17042C;
}
.conteudo{
    grid-area: conteudo;
    background-color: #191222;
}
.noticia{
    margin: 3rem 0 5rem 0;
}
.noticia-class{
    display: flex;
    margin: auto;
    width: calc(100% / 2);
}
.noticia-class p{
    text-align: justify;
    padding: 0 0 0 3rem;
    color: #fff;
}
.eventos{
    width: 60%;
    margin: 3rem auto 6rem auto;
}
#img{
    width: 100%;
    margin: 2rem 0;
}
.event-foto{
    margin-top: 7rem;
}
.event{
    position: relative;
}
.event p{
    text-align: justify;
    margin: 0 auto 3rem auto;
    width: 95%;
    color: #fff;
}
.event a{
    text-decoration: none;
    color: #fff;
    background-color: #9142EA;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.clear{
    clear: both;
}
.casi{
    width: 60%;
    color: #fff;
    text-align: justify;
    margin: 4rem auto;
}
.casi p{
    margin-bottom: 5rem;
}
.casi h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.diretoria{
    margin: 4rem 0;

}
.diretorias h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}
.w-50-diretoria{
    text-align: center;
    float: left;
    width: calc(100% / 2);
}
.participar-evento{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}
.participar-evento h1{
    text-align: center;
}
.participar-evento input, select{
    padding: 0.7rem 6rem 0.7rem 0.7rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    outline: none;
    border: 1px solid #9142EA;
}
.participar-evento select{
    width: 100%;
}
#button-save{
    color: #fff;
    background-color: #9142EA;
    padding: 1rem 4.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 1.5rem 0;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#c-login{
    margin: 0;
    color: #fff;
}
#c-login p{
    margin: 0;
}
.rodape{
    grid-area: rodape;
    background-color: #17042C;
}
.rodape p{
    text-align: center;
    margin-top: 1.5rem;
    color: #fff;
}
.social{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.social a{
    font-size: 1.5rem;
    padding: 0.3rem;
    color: #fff;
}